version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile : Dockerfile
    depends_on:
      - backend
    environment:
      - SPRING_DATASOURCE_URL=${URL}
      - SPRING_DATASOURCE_USERNAME=${USERNAME}  
      - SPRING_DATASOURCE_PASSWORD=${PASSWORD}
    ports:
      - "8080:8080"
    networks:
      - app-network
  backend:
    image: bitnami/postgresql
    environment:
      POSTGRES_USER: ${USERNAME}
      POSTGRES_PASSWORD: ${PASSWORD}
      POSTGRES_DB: ${DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - app-network

volumes:
  pgdata:   

networks:
  app-network:
    driver: bridge